/* ****************************************
  CSS RESET
  Much <3 to Eric Meyer
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
**************************************** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ****************************************
  END CSS RESET
**************************************** */

/* ****************************************
  MAIN CSS
**************************************** */
body, #start-button, #start-button h1, #title-container, #social-media-container {
  height: 100vh;
  width: 100vw;
  background: #fe1476;
  /* flexbox */
  /* centers child horizontally and vertically */
  align-items: center;
  display: flex;
  justify-content: center;
}
/* main container */
#container {
  height: 100vh;
  width: 100vw;
  background: #ece0e5;
}
/* game container */
#game-container, #char-container, #start-button {
  height: 75vh;
  width: 100vw;
  background: limegreen;
}
/* start button containter */
#start-button, #start-button h1 {
  position: absolute;
}
#start-button h1 {
  height: 10vh;
  width: 30vh;
  background: white;
  border-radius: 10px;
}
/* characters */
.tribbles, .klingons  {
  /* position relative to #start-button */
  position: relative;
  background: white;
  border-radius: 50%;
  display: inline-block;
  height: 5em;
  width: 5em;
}
.klingons {
  background: red;
}
/* title container */
#title-container {
  height: 16vh;
  width: 100vw;
  background: aqua;
}
/* social media container */
#social-media-container {
  height: 9vh;
  width: 100vw;
  background: yellow;
}
